nav{
    display: flex;
    align-items:center;
    justify-content: space-between;
    top: 0;
    position: fixed;
    width: 100%;
    z-index:9999;
    left:0%;
    background-color: rgb(255, 248, 239);;
}

#menubar{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#name{
    margin-left: 30px;
    font-family: opensaucesans;
    font-weight: bold;
    font-size: 40px;
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
}

#navbar li{
    list-style: none;
    padding: 0 15px;
    position: relative;
}

#navbar li a{
    text-decoration:none;
    font-size: 1.8rem;
    font-weight: 600;
    color: rgb(18,78,36);
}